/* Buttons */
.btn {
    border: 1px solid transparent;
    border-radius: 0;
    outline: none!important;
}

.btn-rounded {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
}

.btn-default {
    @include btn-base($white, $mine-shaft, $mercury);
}

.btn-primary {
    @include btn-base($blue-marguerite, $white);
}

.btn-success {
    @include btn-base($mountain-meadow, $white);
}

.btn-danger {
    @include btn-base($carnation, $white);
}

.btn-info {
    @include btn-base($java, $white);
}

.btn-warning {
    @include btn-base($cream-can, $white);
}