/* Buttons */
.btn {
    border: 1px solid transparent;
    border-radius: 0;
    outline: none!important;
    transition: background .15s linear;
}

.btn-rounded {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
}

.btn-default {
    @include btn-base($white, $mine-shaft, $mercury);
}

.btn-primary {
    @include btn-base($success-green, $white);
}

.btn-success {
    @include btn-base($info-blue, $white);
}

.btn-danger {
    @include btn-base($danger-red, $white);
}

.btn-info {
    @include btn-base($primary-purple, $white);
}

.btn-warning {
    @include btn-base($warning-orange, $white);
}