/* Navbar */
.navbar {
    color: $white;

    &.whiteHeader {
        background: $white;
        @include box-shadow(0px 1px 8px 0px rgba($mine-shaft, 0.2));
        @include transition(all 0.3s ease-in-out);
        
        .navbar-header {
            button {
                color: $scorpion;
            }
        }            
    }

    .navbar-header {
        @include flex;
        @include align-items(center);
        padding: 10px 0;

        .navbar-brand {
            text-decoration: none;
            color: $white;
            @include flex;
            @include align-items(center);
            
            img {
                height: 30px;
            }  
        }
        button {
            margin-left: auto;
            color: $white;
        }
    }    
}

#navbar {
    background: $white;
    @include box-shadow(0px 1px 8px 0px rgba($mine-shaft, 0.2));

    ul li {
        a {
            color: $scorpion;
            background: transparent;
            padding: 15px;

            &:hover,
            &:focus,
            &:active {
                border-left: solid 2px $mountain-meadow;
            }
        }
    }
}

@include respond-min(768px) {
    .navbar-nav{ 
        & > li > a {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        ul li.active a {
            background: transparent;
            border-top: 2px solid $mountain-meadow;
            padding-top: 18px;

            .navbar.whiteHeader & {
                color: $mine-shaft;
            }
        }
    }
}

