/* Navbar */
.navbar {
    color: $white;

    &.whiteHeader {
        background: $white;
        @include transition(all 0.3s ease-in-out);
        @include box-shadow(0px 2px 8px 0px rgba($mine-shaft, 0.2));
        
        .navbar-header {
            position: relative;
            background: transparent;

            button {
                color: $scorpion;
            }
        }            
    }

    .navbar-header {
        @include flex;
        @include align-items(center);
        padding: 10px 0;

        .navbar-brand {
            text-decoration: none;
            color: $white;
            @include flex;
            @include align-items(center);
            margin-left: 5px;
            
            img {
                height: 30px;
            }  
        }
        button {
            margin-left: auto;
            margin-right: 10px;
            color: $white;
            background: transparent;
            border: none;
            @include respond-min(769px) {
                display: none;
            }
        }
    }    
}

.navbar-mobile {
    padding: 10px 0;
    @include respond-max(768px) {
        display: none;
    }

    &.opened {
        @include respond-max(768px) {
            display: block;
            padding: 0;
            background-color: $white;  
            opacity: 0.98;
            overflow: hidden;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-height: 100vh;
            margin: 0;

            ul {
                li {
                    a {
                        color: $mine-shaft;
                        font-size: 14px;
                        text-align: left;
                        padding: 20px 0;
                        margin: 0 15%;
                        border-bottom: 1px solid $silver;
                        text-transform: uppercase;
                        font-weight: bold;

                        &:hover,
                        &:focus,
                        &:active {
                            background: none;
                            padding-left: 10px;
                            color: $green;
                            transition: ease-in 0.3s;
                        }
                    }

                    &:first-child {
                        a {
                            border-top: 1px solid $silver
                        }
                    }

                    &:last-child {
                      a {
                        text-align: center;
                        width: 200px;
                        border: 1px solid $mine-shaft;
                        border-radius: 50px;
                        margin-top: 30px;
                        padding: 15px;
                        @include respond-max(425px) {
                            margin: 30px auto 0;
                        }

                        &:hover,
                        &:focus,
                        &:active {
                            border-color: $green;
                        }
                      }  
                    }
                }
            }

            .navbar-collapse-close {
                display: block;
                margin: 20px 15% 20px;
                text-align: right;
                padding: 20px 0 10px;
                cursor: pointer;
                font-size: 14px;
                color: $mine-shaft;
                text-transform: uppercase;
                font-weight: bold;

                .icon-close {
                    width: 14px;
                    padding-top: 14px;
                    top: 2px;
                    margin-left: 3px;

                    .icon {
                        fill: $mine-shaft;
                    }
                }

                &:hover,
                &:focus,
                &:active {
                    color: $green;
                    transition: ease-in 0.3s;

                    .icon-close .icon {
                        fill: $green;
                        transition: ease-in 0.3s;
                    }
                }
            }
        }
    }

    ul {
        margin: 0;
        @include respond-min(769px) {
            float: right;
        }
        

        li {
            a {
                color: $white;
                background: transparent;

                .whiteHeader & {
                    color: $scorpion;
                }

                &:hover,
                &:focus,
                &:active {
                    border-bottom: solid 1px $green;
                }
            }
        }
    }

    .navbar-collapse-close {
        display: none;
    }
}

@include respond-min(769px) {
    .navbar-nav{
        margin: 0;

        & > li > a {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        ul li.active a {
            background: transparent;
            border-top: 2px solid $mountain-meadow;
            padding-top: 18px;

            .navbar.whiteHeader & {
                color: $mine-shaft;
            }
        }
    }
}

