/* Global Styles */
html {
    height: 100%!important;
    position: relative;
    z-index: -1;
}

body {
    position: relative;
    height: 100%!important;
    width: 100%;
    color: $river-bed;
    overflow-x: hidden;
    z-index: -1;
}

p {
    display: block;
    margin: 0px 0px 10px 0px;
}

a {
    &:hover,
    &:active,
    &:focus {
        outline: none!important;
    } 
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}


.container {
    @include respond-min-max(769px, 992px) {
        width: 769px !important;
    }
}

