/* Global Styles */
html {
    height: 100%!important;
    position: relative;
}

body {
    position: relative;
    height: 100%!important;
    width: 100%;
    color: $river-bed;
    overflow-x: hidden;
}

p {
    display: block;
    margin: 0px 0px 10px 0px;
}

a {
    &:hover,
    &:active,
    &:focus {
        outline: none!important;
    } 
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

