/* Icons */

.icon-xs {
    font-size: 12px;
}

.icon-sm {
    font-size: 14px;
}

.icon-md {
    font-size: 16px;
}

.icon-lg {
    font-size: 18px;
}

.icon-state-default {
    color: $silver;
}

.icon-state-primary {
    color: $blue-marguerite;
}

.icon-state-success {
    color: $mountain-meadow;
}

.icon-state-info {
    color: $java;
}

.icon-state-warning {
    color: $saffron;
}

.icon-state-danger {
    color: $carnation;
}
