/* Icons */

.icon-xs {
    font-size: 12px;
}

.icon-sm {
    font-size: 14px;
}

.icon-md {
    font-size: 16px;
}

.icon-lg {
    font-size: 18px;
}

.icon-state-default {
    color: #ccc;
}

.icon-state-primary {
    color: #7a6fbe;
}

.icon-state-success {
    color: #22BAA0;
}

.icon-state-info {
    color: #12AFCB;
}

.icon-state-warning {
    color: #f6d433;
}

.icon-state-danger {
    color: #f25656;
}
