//Colours - Swatch Dictionary Reference  - http://chir.ag/projects/name-that-color

$black: #000;
$white: #fff;

//grey
$mine-shaft: #333;
$scorpion: #5f5f5f;
$river-bed: #4e5e6a;
$silver: #ccc;
$mercury: #e5e5e5;
$seashell: #f1f1f1;
$geyser: #dce1e4;
$submarine: #bdc5c9;
$alabaster: #F7F7F7;
$iron: #d2d7db;

//Modern theme color
$mountain-meadow: #22baa0;	//success
$blue-marguerite: #7a6fbe;	//primary
$scampi: #6a5fac;
$java: #12afcb;				//info
$carnation: #f25656;		//danger
$apple-blossom: #a94442;
$saffron: #f6d433;			//warning
$cream-can: #f2ca4c;

//Ecolulu theme color
$green: #18C100;			//success
$japanese-laurel: #17a501;
$pizazz: #FD9200;			//secondary
$flush-orange: #fc7e00;
$azure-radiance: #0080ff;	//primary
$endeavour: #005ab4;
$red-orange: #ff3333;		//danger
$guardsman-red: #cc0000;
$supernova: #ffcc00;		//warning
$buddha-gold: #bba102;



