//Colours - Swatch Dictionary Reference  - http://chir.ag/projects/name-that-color

$black: #000;
$white: #fff;

$mine-shaft: #333;
$mercury: #e5e5e5;
$seashell: #f1f1f1;
$geyser: #dce1e4;
$submarine: #bdc5c9;
$alabaster: #F7F7F7;
$iron: #d2d7db;
$scorpion: #5f5f5f;

$river-bed: #4E5E6A;
$mountain-meadow: #22BAA0;
$blue-marguerite: #7a6fbe;
$scampi: #6a5fac;
$carnation: #F25656;
$java: #12AFCB;
$cream-can: #f2ca4c;
$apple-blossom: #a94442;
$saffron: #f6d433;