@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

//Font Families
$lato: "Lato", Helvetica, Arial, serif;
$raleway: "Raleway", sans-serif;
$open-sans: "Open Sans", sans-serif;

//Font Weight
$light: 300;
$normal: 400;
$semi-bold: 600;	//raleway
$bold: 700;			//lato

//Global
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $raleway;
}

h1 {
    font-size: 30px;
    font-weight: $light;
}

h2 {
    font-size: 24px;
    font-weight: $light;
}

h3 {
    font-size: 16px;
    font-weight: $semi-bold;
}

h4 {
    font-size: 14px;
    font-weight: $semi-bold;
}

h5 {
    font-size: 12px;
    font-weight: $semi-bold;
}

h6 {
    font-size: 10px;
    font-weight: $light;
}

p {
	font-size: 13px;
    font-weight: $normal;
    letter-spacing: normal;
    line-height: 2;
    font-style: normal;
    white-space: normal;
}

//Forms
label {
    font-size: 13px;
    font-weight: $normal;

    &.error {
        font-weight: bold;
    }
}

.form-control {
    font-size: 13px;
}

//Navbar
.navbar {
    & .navbar-toggle {
        font-size: 14px!important;
    }

    .navbar-header {
        .navbar-brand {
            font-size: 20px;
            font-weight: bold;
        }
    }
}
