//Font Pairs - Lato & Merriweather
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);

//Font Families
$font-pri: "Lato", Helvetica, Arial, serif;
$font-snd: "Merriweather", serif;

//Font Weight
$light: 300;
$normal: 400;
$bold: 700;
$ultra-bold: 900;			

//Global
body {
    font-family: $font-pri;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
}

h1 {
    font-family: $font-snd;
    font-size: 34px;
    font-weight: $bold;
}

h2 {
    font-family: $font-snd;
    font-size: 30px;
    font-weight: $bold;
}

h3 {
    font-family: $font-pri;
    font-size: 24px;
    font-weight: $normal;
}

h4 {
    font-family: $font-pri;
    font-size: 22px;
    font-weight: $normal;
}

h5 {
    font-family: $font-snd;
    font-size: 18px;
    font-weight: $normal;
}

h6 {
    font-family: $font-pri;
    font-size: 16px;
    font-weight: $light;
}

p {
	font-size: 16px;
    font-weight: $normal;
    letter-spacing: normal;
    line-height: 1.5;
    font-style: normal;
    white-space: normal;
    text-align: justify;

    footer & {
        font-size: 14px;
    }

    @include respond-min(768px) {
        & {
            font-size: 18px;
        }
    }
}

//Tool
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

//Forms
label {
    font-size: 16px;
    font-weight: $normal;

    &.error {
        font-weight: bold;
    }
}

.form-control {
    font-size: 16px;
}

//Buttons
.btn {
    font-size: 16px;
}

//Navbar
.navbar {
    /*.navbar-toggle {
        font-size: 16px!important;
    }*/

    .navbar-header,
    &.whiteHeader .navbar-header {
        .burger,
        .burger:before {
            font-size: 26px;
        }
    }
}

//Home
.home {
    text-align: center;

    .home-text {
        h1 {
            line-height: 1.3;
            @include respond-min(768px) {
               font-size: 48px;
               line-height: 1.5;
            }
            @include respond-min(1024px) {
                font-size: 56px;
            }
        }

        h3 {
            font-family: $font-pri;
            font-size: 24px;
            @include respond-min(768px) {
                font-size: 28px;
            }
            @include respond-min(1024px) {
                font-size: 36px;
            }
        }

        .btn-success {
            font-weight: $bold;
        }
    }
}


//How it works
.concepts {
    .concept-caption {
        text-align: center;
        line-height: 1.4;
    }
}

//Services
.service-icon {
    font-size: 35px;
    text-align: center;
    line-height: 100px;
}

//Testimonial
.testimonial .carousel .item {
    text-align: center;

    p {
        font-size: 16px;
    }

    span {
        font-size: 14px;
    }
}

//Contact
#contact {
    text-align: center;
}

    //.contact-button typography styled in the _contact.scss


