.concepts {
	@include respond-min(769px) {
		padding: 40px 0;
	}
	@include respond-max(768px) {
		padding: 40px 40px;
	}
	@include respond-max(425px) {
		padding: 40px 0;
	}

	&:nth-child(2n+1) {
		background: $seashell;
	}

	.row {
		margin: 0;
		@include flex;
		@include flex-wrap(wrap);
		@include align-items(center);
		@include justify-content(center);

		&.reverse {
			@include flex-direction(row-reverse);
		}
	}
	
	&.section-title {
		padding: 20px 0;
		background: $primary-purple;
		color: $white;
		
		.row {
			@include flex-direction(column);
		}
	}

	.concept-caption {
		margin-top: 10px;
		
		&:after {
			width: 80px;
			height: 2px;
			background: $silver;
			margin: 15px auto;
			display: block;
			content: ' ';
		}
	}

	img {
		width: 305px;
		max-width: 100%;
		margin-bottom: 20px;

		@include respond-min(768px) {
			margin-bottom: 0;
		}
	}

	.uppercase {
		margin-bottom: 0;
	}

	.btn {
		width: 220px;
	}
}

