/* Home */
.home {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('../images/banner/7.jpg') fixed;
    background-size: cover;
    background-position: top;
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    z-index: -2;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($black,0.8);
    z-index: -1;
}

.home-text {
    width: 280px;
    margin: 0 auto;
    @include flex;
    @include flex-direction(column);
    @include align-items(center);
    color: $white;
    @include respond-min(769px) {
        width: 380px;
    }
    @include respond-min(1025px) {
        width: 100%;
    }

    h1 {
        margin-bottom: 0;
        @include respond-min-max(1025px, 1200px) {
            width: 480px;
        }

        &:after {
            width: 80px;
            height: 2px; 
            background: $seashell;
            margin: 15px auto;
            display: block;
            content: ' ';
        }
    }

    h3 {
        margin-top: 0;
        margin-bottom: 25px;
        @include respond-min(1025px) {
            width: 780px;
        } 
    }

    .btn-container {
        @include flex;
        @include flex-direction(column);
        @include respond-min(1025px) {
            width: 480px;
            margin-top: 20px;
            @include flex-direction(row);
            @include justify-content(space-around);
        }

        .btn {
            font-size: 18px;
            min-width: 220px;
            margin-bottom: 10px;
            padding: 12px;
        }
    }
}

.scroller {
    position: absolute;
    bottom: 1%;
    left: 0; 
    right: 0;
    margin: 0 auto;
    color: $white;

    h6 {
        margin-bottom: 0;
    } 
}

.wheel {
    @include animation(mouse-wheel 1.2s ease infinite);
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        @include transform(translateY(0));
    }

    100% {
        opacity: 0;
        @include transform(translateY(6px));
    }
}

@-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    50% { top: 2px; }
    100% { top: 3px;}
}

@include keyframes(mouse-scroll) {
    0% {opacity: 0;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}


