/* Services */
.services {
    margin: 0 auto 20px;
    @include respond-max(768px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include respond-max(425px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    &.section-title {
        color: $white;
        background: $success-green;
    }

    h2 {
        @include respond-max(425px) {
            font-size: 28px;
            margin-bottom: 15px;
        }
    }

    .col-sm-4 {
        margin-bottom: 25px;
        cursor: pointer;

        .btn {
            padding: 0;
            color: $success-green;
            text-transform: uppercase;
        }
    }

    .btn-primary {
        width: 220px;
    }
}

.service-icon {
    margin: 0 auto;   
    color: $success-green;
    border: 2px solid $success-green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    @include transition(all 0.3s ease-in-out);
    @include respond-max(768px) {
        width: 75px;
        height: 75px;
    }

    .services .col-sm-4:hover & {
        background: $success-green;
        color: $white;
    }
}

.icon-arrow-right {
    width: 13px;
    padding-top: 13px;
    top: 1px;

    .icon {
        fill: $success-green;
    }
}