.testimonial {
    padding: 0;
    background: url('../images/testimonials.jpg');
    background-position: center 25%;
    background-size: cover;
    position: relative;
    z-index: -2;   

    .carousel {
        padding: 50px 0 20px 0;
        color: $white;
        position: relative;

        .item {
            padding-bottom: 40px;

            div {
                color: $silver;

                &.reviewer {
                    @include flex;
                    @include justify-content(center);
                }

                &.avartar {
                    width: 50px;
                    height: 50px;
                    border: solid 2px $white;
                    border-radius: 50%;
                    
                    &#avartar1 {
                        background: url(../images/avatar1.png);
                        background-size: cover;
                    }

                    &#avartar2 {
                        background: url(../images/avatar2.png);
                        background-size: cover;
                    }

                    &#avartar3 {
                        background: url(../images/avatar3.png);
                        background-size: cover;
                    }
                }

                &:nth-child(2) {
                    padding-top: 10px;
                    padding-left: 10px;
                }
            }

            .text-white {
                padding: 0 10px;
                line-height: 1.8;

                @include respond-min(1024px) {
                    font-size: 18px; 
                }
            }
        }
    }

    .carousel-indicators li {
        background-color: $scorpion;
        border: none;

        &.active {
            background-color: white;
        }
    }
}
